@import url("https://fonts.googleapis.com/css2?family=Chivo&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: radial-gradient(
      circle farthest-corner at -25% -50%,
      #0d1117 36%,
      rgba(13, 17, 23, 0) 48%
    ),
    radial-gradient(
      circle farthest-corner at -25% 150%,
      #0d1117 45%,
      rgba(13, 17, 23, 0) 89%
    ),
    radial-gradient(
      circle farthest-corner at -25% -100%,
      rgba(13, 17, 23, 0) 55%,
      rgba(13, 17, 23, 0.28) 65%,
      rgba(13, 17, 23, 0) 68%
    ),
    radial-gradient(
      circle farthest-corner at -33% -75%,
      #1f00cc 48%,
      rgba(131, 5, 49, 0) 56%
    ),
    radial-gradient(
      circle farthest-side at 0 -50%,
      rgba(13, 17, 23, 0) 64%,
      rgba(1, 2, 36, 0.4) 69%,
      rgba(13, 17, 23, 0) 81%
    ),
    radial-gradient(
      circle farthest-corner at 0 -50%,
      rgba(13, 17, 23, 0) 33%,
      #010c5f 51%,
      rgba(13, 17, 23, 0) 72%
    );
}

.btn-animation {
  background: linear-gradient(to left, #0052cc 50%, #0045ad 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
}

.btn-animation:hover {
  background-position: left;
}